<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ function('wp_head') }}
  {% block head_extra %}{% endblock %}
</head>
<body class="{{ function('body_class') }}">
{{ function('wp_body_open') }}

<div class="site-wrap">
  {% include 'partials/nav.twig' %}

  <main id="main">
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.twig' %}
</div>

{{ function('wp_footer') }}
</body>
</html>
